{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
  <center>
    <img src="https://i.imgur.com/gU1TJa7.jpg" alt="banner" width="968" height="368">
  </center>
    <h3 class="display-10">Informática</h3>
    <p class="lead">Es la ciencia que estudia el  procesamiento automático de información mediante dispositivos electrónicos y sistemas computacionales. Los sistemas informáticos deben contar con la capacidad de cumplir tres tareas básicas: entrada (captación de la información),procesamiento y salida (transmisión de los resultados).</p>
    <hr class="my-4">
    <h3 class="display-10">El computador</h3>
    <p class="lead">Es una maquina electrónica diseñada para la manipulación y procesamiento de datos.

    </p>
    <hr class="my-4">
    <h3 class="display-10">Organización física del computador (hardware)</h3>
    <p class="lead">El computador, habiendo sido diseñado para el procesamiento de datos, su organización es similar a la de cualquier otro proceso. Indiferente de lo que se desee procesar, siempre se tendrán tres elementos importantes, la materia prima, la transformación que es el proceso en sí, y el producto final, es decir la materia prima transformada en un nuevo producto. Así, el computador está conformado por dispositivos de entrada, unidad central de procesamiento, dispositivos de salida y adicionalmente memoria externa o dispositivos de almacenamiento.</p>
    <hr class="my-4">
    <h3 class="display-10">El software</h3>
    <p class="lead">Como se anotó anteriormente, está conformado por toda la información, ya sean instrucciones o datos, que hacen que el computador funcione, sin el concurso de éste el hardware no realizar ninguna función. El software está clasificado en los siguientes grupos, según la tarea que realiza.</p>
    <hr class="my-4">
    <h3 class="display-10">Software de aplicación</h3>
    <p class="lead">Es un conjunto de programas diferente al software del sistema, éstos se encargan de manipular la información que el usuario necesita procesar, son programas que desarrollan una tarea específica y cuya finalidad es permitirle al usuario realizar su trabajo con facilidad, rapidez, agilidad y precisión. Entre el software de aplicación se tiene varios grupos, como son: procesadores de texto, hoja electrónica, graficadores, bases de datos, agendas, programas de contabilidad, aplicaciones matemáticas, entre otros, algunos ejemplos son: Word, Excel, Acces, Corel.Draw, Foxpro, Trident, etc</p>
    <hr class="my-4">
    <h3 class="display-10">Lenguajes de programación</h3>
    <p class="lead">En términos coloquiales, son programas que sirven para crear otros programas. Al igual que el lenguaje natural constan de sintaxis, semántica y vocabulario que el computador puede entender y procesar</p>
    <hr class="my-4">
    <h3 class="display-10">Sistema operativo</h3>
    <p class="lead">Es un conjunto de programas indispensable para que el computador funcione. Estos se encargan de administrar todos los recursos de la unidad computacional y facilitan la comunicación con el usuario.</p>
    <hr class="my-4">
    <h3 class="display-10">Algoritmo</h3>
    <p class="lead">Listas de instrucciones para resolver un problema abstracto, es decir, que un número finito de pasos convierten los datos de un problema (entrada) en una solución (salida).</p>
    <hr class="my-4">
    <h3 class="display-10">Diagrama de flujo</h3>
    <p class="lead">Son descripciones gráficas de algoritmos; usan símbolos conectados con flechas para indicar la secuencia de instrucciones .</p>
    <hr class="my-4">
    <h3 class="display-10">Pseudocódigo</h3>
    <p class="lead">Es una descripción de alto nivel de un algoritmo que emplea una mezcla de lenguaje natural con algunas convenciones sintácticas propias de lenguajes de programación, como asignaciones, ciclos y condicionales.</p>
    <hr class="my-4">
    <h3 class="display-10">Megahertzios</h3>
    <p class="lead">Es una medida de frecuencia (número de veces que ocurre algo en un segundo), en el caso de los ordenadores, un equipo a 200 MHz será capaz de dar 200 millones de pasos por segundo, en la velocidad real de trabajo no sólo influyen los MHz, sino también la arquitectura del procesador (y el resto de los componentes); por ejemplo, dentro de la serie X86, un Pentium a 60 MHz era cerca del doble de rápido que un 486 a 66 MHz.</p>
    <hr class="my-4">
  </div>
{% endblock %}