{% extends "layout.html" %}
{% block content %}

<div class="jumbotron">
    
    <center><h1 class="display-4">¿Cuál es el objetivo de esta página?</h1></center>
    <p class="lead">En esta página, nosotros como estudiantes, Ernesto Lovera y Daniela Villalobos, buscamos recopilar información interesante referente a la computación para poder usarla a largo plazo, ayudándonos asi en el 
        transcurso de esta aventura como futuros informáticos. Esta es una página programada con Python, HTML, CSS y utilizando complementos como Bootstrap para una interfaz mucho
        mas estilizada.
        </p>
    <center><img src="https://ugc.kn3.net/i/760x/https://cdn-images-1.medium.com/max/1600/1*IRFhWNqusUWbTsB1hQXhrQ.gif"></center>
    <hr class="my-4">
    <p>Página web creada para el I.U.T "Jose María Carreño" 2019-2020</p>
</div>

{% endblock %}